[Desktop Entry]
Name=fiRDP
Comment=Lightweight RDP client
Exec=fiRDP %u
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=x-scheme-handler/rdp;x-scheme-handler/rdps;application/x-rdp;
